<div class="container-fluid">
   <header>
      <nav class="navbar navbar-expand-md bg-success">
         <a [routerLink]="['/ifpr']" routerLinkActive="router-link-active"  class="nav-link text-white">IFPR</a>
         <a [routerLink]="['/tads']" routerLinkActive="router-link-active"  class="nav-link text-white">TADS</a>
         <a [routerLink]="['/#']" routerLinkActive="router-link-active"  class="nav-link text-white">ANGULAR</a>
         <a [routerLink]="['/#']" routerLinkActive="router-link-active"  class="nav-link text-white">TURMA</a>
      </nav>
   </header>
</div>

<h1>

</h1>

<router-outlet></router-outlet>
