<body>
    <div class="col-sm-3">
        <ul class="p-3">
            <li><a href="https://reitoria.ifpr.edu.br/" class="text-success" target="_blank">Reitoria</a>
            <li><a href="https://paranavai.ifpr.edu.br/aluno/" class="text-success" target="_blank">Area do aluno</a>
            <li><a href="http://200.17.98.122/moodle/course/index.php?categoryid=2" class="text-success" target="_blank">Moodle</a>
            <li><a href="https://sigae.ifpr.edu.br/" class="text-success" target="_blank">SIGAE</a>
        </ul>

    </div>
</body>
